<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link href="static\css\output.css" rel="stylesheet">
</head>

<body>
    <center>
        <div>
            {% include 'groupnav.html' %}
            <div style="margin-left: 15%; margin-right: 15%;">
                <h1
                    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                    Hey there! <span
                        class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Find
                        Your Groups here or Create New!</span></h1>
            </div>
            <!-- <h1>Your Groups!</h1>
            <ul>
                {% for group in groups %}
                {% if is_group_visible(group[0]) %}
                <li><a href="{{ url_for('group', group_id=group[0]) }}">{{ group[1] }}</a></li>
                {% endif %}
                {% endfor %}
            </ul> -->
            <!-- <form action="{{ url_for('create_group') }}" method="post">
        <label for="group_name">Group Name:</label>
        <input type="text" id="group_name" name="group_name" required>
        <button type="submit">Create Group</button>
    </form> -->

            {% for group in groups %}
            {% if is_group_visible(group[0]) %}
            <div style="margin: 20px;">


                <div
                    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex flex-col items-center pb-10">
                        <img style="margin-top: 10px;" class="w-24 h-24 mb-3 rounded-full shadow-lg"
                            src="static\images\coins-3344603_1280.png" alt="Bonnie image" />
                        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ group[1] }}</h5>

                        <div class="flex mt-4 md:mt-6">
                            <a href="{{ url_for('group', group_id=group[0]) }}"
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Open</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}
            {% endfor %}


            <!-- Modal toggle -->
            <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button" id="createGroupBtn">
                Create New Group!
            </button>

            <!-- Main modal -->
            <div id="authentication-modal" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Create New Group!
                            </h3>
                            <button type="button"
                                class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="authentication-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                            <form class="space-y-4" action="{{ url_for('create_group') }}" method="post">
                                <div>
                                    <center><label for="group_name"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group
                                            Name</label></center>
                                    <input type="text" name="group_name" id="group_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Split Me!😉" required>
                                </div>
                                <button type="submit"
                                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </center>



    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

</body>

</html>